<nav class="navbar navbar-expand-sm bg-secondary border-bottom border-body shadow z-3" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">
      <cc-logo />
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end w-100">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/movies']" routerLinkActive="active">{{
          'navigation.movies' | translate
        }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/settings']" routerLinkActive="active">{{
          'navigation.settings' | translate
        }}</a>
      </li>
    </ul>
  </div>
</nav>
<cc-loading-bar />
