<nav class="navbar navbar-expand-sm bg-secondary border-bottom border-body shadow z-3" data-bs-theme="dark">
  <a class="navbar-brand" [routerLink]="['']">
    <cc-logo />
  </a>
  <button
    (click)="onToggleCollapse()"
    class="navbar-toggler hidden-sm-up"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed()" class="collapse navbar-collapse" id="navbarsDefault">
    <ul ngbNav #nav="ngbNav" class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end w-100">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLink]="['/movies']" routerLinkActive="active">{{
          'navigation.movies' | translate
        }}</a>
      </li>
      <li class="nav-item" *ccIsAuthenticated>
        <a class="nav-link" aria-current="page" [routerLink]="['/settings']" routerLinkActive="active">{{
          'navigation.settings' | translate
        }}</a>
      </li>
      <ng-template [ccIsAuthenticated]="signInRef">
        <li class="nav-item">
          <button type="button" class="btn-link nav-link" aria-current="dialog" (click)="onSignOut()">
            {{ 'navigation.signOut' | translate }}
          </button>
        </li>
      </ng-template>
      <ng-template #signInRef>
        <li class="nav-item">
          <button type="button" class="btn-link nav-link" aria-current="dialog" (click)="onSignIn()">
            {{ 'navigation.signIn' | translate }}
          </button>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
<cc-loading-bar />
