@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

:host {
  position: relative;
}
.navbar {
  position: sticky;
  top: 0;
  background: var(--bs-white);
  padding: 0 1rem;

  @include media-breakpoint-up(sm) {
    max-height: 4.125rem;
  }
}
