<ng-container *ngIf="movie$ | async as movie">
  <div class="card shadow border-0">
    <div class="card-header border-0 text-end">
      <a routerLink="edit" class="btn btn-outline-primary">{{ 'actions.edit' | translate }}</a>
      <a routerLink=".." class="btn btn-outline-secondary ms-3">{{ 'actions.back' | translate }}</a>
    </div>
    <div class="card-body">
      <ng-container *ngIf="movie.kpid; else rawRef">
        <cc-movie-details-full-content [movie]="movie" />
      </ng-container>
      <ng-template #rawRef>
        <cc-movie-details-raw-content [movie]="movie" />
      </ng-template>
    </div>
  </div>
</ng-container>
<cc-load-spinner [loading]="loading$ | async" />
