<div class="card shadow border-0">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
      </div>
      <div><button type="button" class="btn btn-outline-primary">Add movie</button></div>
    </div>
  </div>

  <div class="card-footer border-0">
    <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
  </div>
</div>
