.fallback {
  position: relative;

  &__cover {
    opacity: 0.08;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
  }
}

.movie-header {
  flex-wrap: wrap-reverse;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-titles {
  max-width: 100%;
}

.actor-list {
  list-style: none;
}
