@if ($movie(); as movie) {
  <div class="card shadow border-0 fallback">
    <div class="card-header border-0 text-end z-1">
      <a routerLink="edit" class="btn btn-outline-primary">{{ 'actions.edit' | translate }}</a>
      <button type="button" class="btn btn-outline-danger ms-3" (click)="onDeleteMovie()">
        {{ 'actions.delete' | translate }}
      </button>
      <a routerLink=".." class="btn btn-outline-secondary ms-3">{{ 'actions.back' | translate }}</a>
    </div>
    <div class="card-body z-1">
      @if (movie.kpId) {
        <cc-movie-details-full-content [movie]="movie" />
      } @else {
        <cc-movie-details-raw-content [movie]="movie" />
      }
    </div>
    <div
      class="fallback__cover"
      [ngStyle]="{
        'background-image': 'url(' + movie.backdropUrl || noPictureUrl + ')'
      }"></div>
  </div>
}
