@if (!loading()) {
  <div class="card shadow border-0">
    <div class="card-header">
      <cc-actions-panel></cc-actions-panel>
    </div>
    <cc-movies-list [movies]="movies()"></cc-movies-list>
    <div class="m-auto">
      <ngb-pagination
        [ellipses]="true"
        [maxSize]="maxPages()"
        [rotate]="true"
        [page]="currentPage() + 1"
        [pageSize]="pageSize"
        [collectionSize]="totalCount()"
        (pageChange)="onChangePageChange($event)">
      </ngb-pagination>
      <p class="d-flex justify-content-center">{{ 'movies.inTotal' | translate: { total: totalCount() } }}</p>
    </div>
  </div>
} @else {
  <cc-empty-container>{{ 'loading' | translate }}</cc-empty-container>
}
