@if (!$loading() && $movies().length) {
  <div class="card shadow border-0">
    <div class="card-header">
      <cc-actions-panel></cc-actions-panel>
    </div>
    <cc-movies-list [movies]="$movies() | slice: $indexFrom() : $indexTo()"></cc-movies-list>
    <div class="m-auto">
      <ngb-pagination
        [ellipses]="true"
        [maxSize]="maxPages()"
        [rotate]="true"
        [page]="$currentPage() + 1"
        [pageSize]="$pageSize()"
        [collectionSize]="$collectionSize()"
        (pageChange)="onChangePageChange($event)">
      </ngb-pagination>
    </div>
  </div>
}

@if ($loading()) {
  <cc-empty-container>{{ 'loading' | translate }}</cc-empty-container>
}
