.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 14rem));
  grid-auto-rows: minmax(20rem, 20rem);
  align-items: stretch;
  gap: 1rem;
  justify-content: space-evenly;
  margin: 0.75rem;
}
