@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.poster {
  max-width: 100%;
}

.main-info {
  display: flex;
  gap: 0.5rem;
}

.actor-list {
  @include media-breakpoint-down(lg) {
    display: flex;
    flex-wrap: wrap;
  }
}
