<div class="row">
  <div class="col-3">
    <div>
      <img class="poster" [alt]="'movie.poster' | translate" [src]="pictureUrl" />
    </div>
    <div class="text-center">
      <cc-rating [value]="movie.rating" />
    </div>
  </div>
  <div class="col-9">
    <div class="row mb-3">
      <div class="col">
        <h3>
          {{ movie.name }}
          @if (movie.isSeries) {
            <span class="badge text-bg-warning">{{ 'movie.series' | translate }}</span>
          }
        </h3>
        <h5 class="text-secondary">{{ movie.enName }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-3 text-secondary mb-3">{{ 'movie.rating' | translate }}</div>
          <div class="col-9">{{ movie.rating }}</div>
        </div>
        <div class="row">
          <div class="col-3 text-secondary mb-3">{{ 'movie.year' | translate }}</div>
          <div class="col-9">{{ movie.year }}</div>
        </div>
        <div class="row">
          <div class="col-3 text-secondary mb-3">{{ 'movie.director' | translate }}</div>
          <div class="col-9">{{ movie.director }}</div>
        </div>
        <div class="row">
          <div class="col-3 text-secondary mb-3">{{ 'movie.movieLength' | translate }}</div>
          <div class="col-9">{{ movie.movieLength }}</div>
        </div>
        <div class="row">
          <div class="col-3 text-secondary mb-3">{{ 'movie.ageRating' | translate }}</div>
          <div class="col-9">{{ movie.ageRating }}</div>
        </div>
        <div class="row">
          <div class="col-3 text-secondary mb-3">{{ 'movie.genres' | translate }}</div>
          <div class="col-9">{{ movie.genres }}</div>
        </div>
        <div class="row">
          <div class="col-3 text-secondary mb-3">{{ 'movie.countries' | translate }}</div>
          <div class="col-9">{{ movie.countries }}</div>
        </div>
        <div class="row">
          <div class="col-3 text-secondary mb-3">{{ 'movie.quality' | translate }}</div>
          <div class="col-9">{{ movie.quality }}</div>
        </div>
        <div class="row">
          <div class="col-3 text-secondary mb-3">{{ 'movie.addedDate' | translate }}</div>
          <div class="col-9">{{ movie.addedDate }}</div>
        </div>

        <div class="row">
          <div class="col-3 text-secondary mb-3">{{ 'movie.extension' | translate }}</div>
          <div class="col-9">{{ movie.extension }}</div>
        </div>
        <div class="row">
          <div class="col-3 text-secondary mb-3">{{ 'movie.description' | translate }}</div>
          <div class="col-9">{{ movie.description }}</div>
        </div>
      </div>
      <div class="col-3">
        <div>
          <div>{{ 'movie.actors' | translate }}</div>
          <ul class="list-unstyled text-secondary">
            @for (actor of movie.actors; track actor) {
              <li class="mb-2">{{ actor }}</li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        @if (movie?.sequelsAndPrequels) {
          <h5>{{ 'movie.sequelsAndPrequels' | translate }}</h5>
          <p class="text-secondary">{{ movie.sequelsAndPrequels }}</p>
        }
        @if (movie?.similarMovies) {
          <h5>{{ 'movie.similarMovies' | translate }}</h5>
          <p class="text-secondary">
            {{ movie.similarMovies }}
          </p>
        }
      </div>
    </div>
  </div>
</div>
